@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


.content_div{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 30px;
    font-family: 'Roboto', sans-serif;
}
.tools{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}
label{
    margin: 0px 5px;
}
.data_div{
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-row-gap: 50px;
   
}
select{
    margin-left: 15px;
    border: none;
}
.search{
    border: none;
    border-bottom: 3px black;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-flex;
    align-self: center;
}
@media only screen and (max-width: 1000px)  {
    .tools{
        flex-direction: column;
    }
}